<div class="mainDivT">
    <div class="container">
        <img >
        <h1>Welcome {{username}} to your Pokemon Collection</h1>
        <div class="pokemon-grid">
            <div class="box" >
                <div>
                    <p>pokemon image</p>
                </div>
                <!-- <img [src]="pokemon.sprites" alt=""> -->
                <h4>pokemon name</h4>
                <p>
                    <b>Type:</b> 
                </p>
                <button>Release </button>
            </div>
            <div class="box" >
                <div>
                    <p>pokemon image</p>
                </div>
                <!-- <img [src]="pokemon.sprites" alt=""> -->
                <h4>pokemon name</h4>
                <p>
                    <b>Type:</b> 
                </p>
                <button>Release </button>
            </div>
            <div class="box" >
                <div>
                    <p>pokemon image</p>
                </div>
                <!-- <img [src]="pokemon.sprites" alt=""> -->
                <h4>pokemon name</h4>
                <p>
                    <b>Type:</b> 
                </p>
                <button>Release </button>
            </div>
            <div class="box" >
                <div>
                    <p>pokemon image</p>
                </div>
                <!-- <img [src]="pokemon.sprites" alt=""> -->
                <h4>pokemon name</h4>
                <p>
                    <b>Type:</b> 
                </p>
                <button>Release </button>
            </div>
            <div class="box" >
                <div>
                    <p>pokemon image</p>
                </div>
                <!-- <img [src]="pokemon.sprites" alt=""> -->
                <h4>pokemon name</h4>
                <p>
                    <b>Type:</b> 
                </p>
                <button>Release </button>
            </div>
            <div class="box" >
                <div>
                    <p>pokemon image</p>
                </div>
                <!-- <img [src]="pokemon.sprites" alt=""> -->
                <h4>pokemon name</h4>
                <p>
                    <b>Type:</b> 
                </p>
                <button>Release </button>
            </div>
            <div class="box" >
                <div>
                    <p>pokemon image</p>
                </div>
                <!-- <img [src]="pokemon.sprites" alt=""> -->
                <h4>pokemon name</h4>
                <p>
                    <b>Type:</b> 
                </p>
                <button>Release </button>
            </div>
            <div class="box" >
                <div>
                    <p>pokemon image</p>
                </div>
                <!-- <img [src]="pokemon.sprites" alt=""> -->
                <h4>pokemon name</h4>
                <p>
                    <b>Type:</b> 
                </p>
                <button>Release </button>
            </div>
            <div class="box" >
                <div>
                    <p>pokemon image</p>
                </div>
                <!-- <img [src]="pokemon.sprites" alt=""> -->
                <h4>pokemon name</h4>
                <p>
                    <b>Type:</b> 
                </p>
                <button>Release </button>
            </div>
            <div class="box" >
                <div>
                    <p>pokemon image</p>
                </div>
                <!-- <img [src]="pokemon.sprites" alt=""> -->
                <h4>pokemon name</h4>
                <p>
                    <b>Type:</b> 
                </p>
                <button>Release </button>
            </div>
            <div class="box" >
                <div>
                    <p>pokemon image</p>
                </div>
                <!-- <img [src]="pokemon.sprites" alt=""> -->
                <h4>pokemon name</h4>
                <p>
                    <b>Type:</b> 
                </p>
                <button>Release </button>
            </div>
        </div>
        <div class="btnContainer">
            <button class="btn" routerLink="/pokedex">Pokédex</button>
            <button class="btn" (click)="logout()"
            >Logout</button>
        </div>
    </div>
</div>