body {
    position: relative;
}

.container{
    background-color:rgb(115, 209, 209);
    margin: 0;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    border-color: darkcyan;

}

.btn{
    height: 40px;
}

 .pokemon-grid-container{
     display: flex;
     flex-wrap: wrap;
     gap: 2rem;
     justify-content: center;
     align-content: center;
/*    display: grid;
    grid-gap: 20px;
    padding: 20px;
    grid-template-columns: auto auto auto auto auto;*/
}

.box{
    width: 250px;
    height: 300px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}